html
{
   font-family: monospace;
}

body
{
    margin: 0;
    height: 100vh;
    background-color: #C5CAE9;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.header
{
    display: flex;
    background-color: #3F51B5;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

img
{
    height: 40px;
    width: 40px;
}

.calculator
{
    border: 1px solid black;
    height: 550px;
    width: 300px;
    align-self: center;
    background-color: #7d889c;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.screen
{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 90%;
    height: 25%;
    margin-top: 20px;
    background-color: #2f9b0b;
    font-size: 45px;
}

.upper-screen
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 40%;
    font-size: 20px;
}

.lower-screen
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 50%;
    font-size: 35px;
}

.buttons
{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 75%;
    justify-content: center;
    align-items: center;
}

.btn-row
{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-num
{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    font-size: 30px;
    background-color: #efa656;
}

.btn-symbol
{
    height: 100%;   
    width: 100%;
    border-radius: 50%;
    font-size: 20px;
    background-color: #82014a;
}